/*
 * dts file for Xilinx ZynqMP ZCU102
 *
 * (C) Copyright 2015, Xilinx, Inc.
 *
 * Michal Simek <michal.simek@xilinx.com>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of
 * the License, or (at your option) any later version.
 */

/dts-v1/;

#include "zynqmp.dtsi"
#include "zynqmp-clk.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/phy/phy.h>

/ {
	model = "ZynqMP Soteria RevA";
	compatible = "xlnx,zynqmp-soteria", "xlnx,zynqmp";

	aliases {
		ethernet0 = &gem3;
		gpio0 = &gpio;
		i2c0 = &i2c0;
		mmc0 = &sdhci1;
		rtc0 = &rtc;
		/*serial0 = &uart0;*/
		serial1 = &uart1;
		spi0 = &qspi;
		usb0 = &usb0;
	};

	chosen {
		bootargs = "earlycon";
		stdout-path = "serial1:115200n8";
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>, <0x8 0x00000000 0x0 0x80000000>;
	};
};

&can1 {
	status = "okay";
};

/* fpd_dma clk 667MHz, lpd_dma 500MHz */
&fpd_dma_chan1 {
	status = "okay";
	xlnx,include-sg; /* for testing purpose */
	xlnx,overfetch; /* for testing purpose */
	xlnx,ratectrl = <0>; /* for testing purpose */
	xlnx,src-issue = <31>;
};

&fpd_dma_chan2 {
	status = "okay";
	xlnx,ratectrl = <100>; /* for testing purpose */
	xlnx,src-issue = <4>; /* for testing purpose */
};

&fpd_dma_chan3 {
	status = "okay";
};

&fpd_dma_chan4 {
	status = "okay";
	xlnx,include-sg; /* for testing purpose */
};

&fpd_dma_chan5 {
	status = "okay";
};

&fpd_dma_chan6 {
	status = "okay";
	xlnx,include-sg; /* for testing purpose */
};

&fpd_dma_chan7 {
	status = "okay";
};

&fpd_dma_chan8 {
	status = "okay";
	xlnx,include-sg; /* for testing purpose */
};

&gem3 {
	status = "okay";
	local-mac-address = [00 0a 35 00 02 90];
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	phy0: phy@21 {
		reg = <21>;
		ti,rx-internal-delay = <0x8>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <0x1>;
	};
};

&gpio {
	status = "okay";
};

&gpu {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <400000>;

  i2cswitch@74 { /* u78 */
    compatible = "nxp, pca9548";
    #address-cells = <1>;
    #size-cells = <0>;
    reg = <0x71>;
    
    i2c@0{            //IIC_EEPROM
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <0>;
      eeprom@54{
        compatible = "at, 24c08";
        reg = <0x54>;
      };
    };
    i2c@1 { /* i2c mw 74 0 2 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			si5341: clock-generator1@36 { /* SI5341 - u55 */
				compatible = "si5341";
				reg = <0x76>;
		};
    i2c@2 { /* i2c mw 74 0 4 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			si570_1: clock-generator2@5d { /* USER SI570 - u56 */
				#clock-cells = <0>;
				compatible = "silabs,si570";
				reg = <0x5d>;
				temperature-stability = <50>;
				factory-fout = <300000000>;
				clock-frequency = <300000000>;
			};
      si570_2: clock-generator2@5e { /* USER SI570 - u57 */
				#clock-cells = <0>;
				compatible = "silabs,si570";
				reg = <0x5e>;
				temperature-stability = <50>;
				factory-fout = <300000000>;
				clock-frequency = <300000000>;
			};
		};
    i2c@3 {         //fmc i2c
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <3>;
    };
    i2c@4 {       //sysmon
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <4>;
    };
    i2c@5 {         //MS5611
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <5>;
      ms5611@76 {
	compatible = "meas,ms5611";
	reg = <0x76>;
	};
    };
  };
  
  i2cswitch@71 {	/* u112 */
    compatible = "nxp,pca9543";
    #address-cells = <1>;
    #size-cells = <0>;
    reg = <0x71>;
    
    i2c@0{           // MAXIM PMBUS
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <0>;
      max15301@13{ //u10
        compatible = "max15301";
        reg = <0x13>;
      };
      max15303@15{ //u8
        compatible = "max15303";
        reg = <0x15>;
      };
      max15303@16{ //u31
        compatible = "max15303";
        reg = <0x16>;
      };
      max15303@17{ //u7
        compatible = "max15303";
        reg = <0x17>;
      };
      max15301@18{ //u5
        compatible = "max15301";
        reg = <0x18>;
      };
      max20751@72{ //u14
        compatible = "max20751";
        reg = <0x72>;
      };
      max20751@73{ //u29
        compatible = "max20751";
        reg = <0x73>;
      };
      max15303@10{ //u39
        compatible = "max15303";
        reg = <0x10>;
      };
      max15301@1A{ //u3
        compatible = "max15301";
        reg = <0x1A>;
      };
      max15303@20{ //u4
        compatible = "max15303";
        reg = <0x20>;
      };
    };
    
    i2c@1{        //TEMP PMBUS
      #address-cells = <1>;
      #size-cells = <0>;
      reg = <2>;
      max6634@48{  //u114
        compatible = "national,lm92";
        reg = <0x48>;
      };
      max6634@49{  //u115
        compatible = "national,lm92";
        reg = <0x49>;
      };
      max6634@50{  //u116
        compatible = "national,lm92";
        reg = <0x50>;
      };
    };
  };
};
};

&qspi {
	status = "okay";
	is-dual = <1>;
	flash@0 {
		compatible = "m25p80"; /* 32MB */
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0x0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>; /* FIXME also DUAL configuration possible */
		spi-max-frequency = <108000000>; /* Based on DC1 spec */
		partition@qspi-fsbl-uboot { /* for testing purpose */
			label = "qspi-fsbl-uboot";
			reg = <0x0 0x100000>;
		};
		partition@qspi-linux { /* for testing purpose */
			label = "qspi-linux";
			reg = <0x100000 0x500000>;
		};
		partition@qspi-device-tree { /* for testing purpose */
			label = "qspi-device-tree";
			reg = <0x600000 0x20000>;
		};
		partition@qspi-rootfs { /* for testing purpose */
			label = "qspi-rootfs";
			reg = <0x620000 0x5E0000>;
		};
	};
};

&rtc {
	status = "okay";
};

&sata {
	status = "okay";
	/* SATA OOB timing settings */
	ceva,p0-cominit-params = /bits/ 8 <0x18 0x40 0x18 0x28>;
	ceva,p0-comwake-params = /bits/ 8 <0x06 0x14 0x08 0x0E>;
	ceva,p0-burst-params = /bits/ 8 <0x13 0x08 0x4A 0x06>;
	ceva,p0-retry-params = /bits/ 16 <0x96A4 0x3FFC>;
	ceva,p1-cominit-params = /bits/ 8 <0x18 0x40 0x18 0x28>;
	ceva,p1-comwake-params = /bits/ 8 <0x06 0x14 0x08 0x0E>;
	ceva,p1-burst-params = /bits/ 8 <0x13 0x08 0x4A 0x06>;
	ceva,p1-retry-params = /bits/ 16 <0x96A4 0x3FFC>;
	phy-names = "sata-phy";
	phys = <&lane3 PHY_TYPE_SATA 1 1 125000000>;
};

/* SD1 with level shifter */
&sdhci1 {
	status = "okay";
	no-1-8-v;	/* for 1.0 silicon */
};

&serdes {
	status = "okay";
};

/*&uart0 {            NOT USED IN FIRST BOARD REV
	status = "okay";
};*/

&uart1 {
	status = "okay";
};

/* ULPI SMSC USB3320 */
&usb0 {
	status = "okay";
};

&dwc3_0 {
	status = "okay";
	dr_mode = "host";
	phy-names = "usb3-phy";
	phys = <&lane2 PHY_TYPE_USB3 0 2 26000000>;
};

&xilinx_drm {
	status = "okay";
	clocks = <&si570_1>;
};

&xlnx_dp {
	status = "okay";
	phy-names = "dp-phy0", "dp-phy1";
	phys = <&lane1 PHY_TYPE_DP 0 3 27000000>, <&lane0 PHY_TYPE_DP 1 3 27000000>;
};

&xlnx_dp_sub {
	status = "okay";
	xlnx,vid-clk-pl;
};

&xlnx_dp_snd_pcm0 {
	status = "okay";
};

&xlnx_dp_snd_pcm1 {
	status = "okay";
};

&xlnx_dp_snd_card {
	status = "okay";
};

&xlnx_dp_snd_codec0 {
	status = "okay";
};

&xlnx_dpdma {
	status = "okay";
};
